html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Open Sans',sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.b-page {
    font: 14px/28px 'Open Sans',sans-serif;
}

.b-page__body {
    text-align: center;
    padding-top: 5%;
}

.b-page__body_msg {
    padding-top: 15px;
    font-size: 1.05em;
}

.b-page__body_ask {
    font-size: 2.5em;
}

@media screen and (max-width: 760px) {
    .b-page__body_ask {
        line-height: 1.15;
    }
}

.b-page_index {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.b-page_weather {
    height: 100%;
    color: #fff !important;
}

.b-logo__link {
    border: 0 none;
    text-decoration: none;
}

.b-logo__name {
    font: 300 2.3em Linear,'Open Sans',Arial,Helvetica,san-serif;
    padding: 6px 0 0 6px;
    display: inline-block;
    color: #000;
}

.b-logo__slogan {
    font: 300 1.2em 'Open Sans',sans-serif;
    padding: 4px 0 0 10px;
    display: inline-block;
}

.b-logo__link_weather {
    color: #fff;
}

.b-container {
    max-width: 1500px;
    margin: 0 auto;
}

.b-container__item {
    display: inline-block;
}

.b-container-weather {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: -100px;
}

.b-container-weather_weather {
    padding: 3em 15em 0 15em;
}

.b-container-weather_error {
    z-index: 30;
    display: none;
}

.b-link {
    color: #00b7ff;
    text-decoration: underline;
}

.b-link_weather {
    color: #fae6f3 !important;
}

.b-wcontent {
    position: absolute;
    z-index: 20;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    color: #fff !important;
}

.b-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 760px) {
    .b-footer {
        position: relative;
        top: 1.2em;
    }
}

.b-footer__table {
    margin: 0 auto;
    max-width: 1500px;
    font-size: .8em;
    white-space: normal;
}

.b-footer__item {
    line-height: 1.5em;
    padding-bottom: 5px;
}

.b-footer__table__col {
    padding: 0 10px 0 10px;
}

.b-footer__table__col_right {
    text-align: right;
    padding-right: 10px;
}

.b-footer__table__col_left {
    text-align: left;
    min-width: 50px;
}

.b-weather__locname_city {
    font: 300 5em 'Open Sans',sans-serif;
}

.b-weather__locname_country {
    color: #d3d3d3;
    font: 300 2em 'Open Sans',sans-serif;
}

.b-weather_active {
    display: block !important;
}

.b-weather-now {
    display: none;
}

.b-weather-now__data {
    padding: 1.5em 0 0 3em;
}

.b-weather-now__data__main_temp {
    font-size: 2em;
}

.b-weather-now__data__main_sky {
    padding-left: 1.5em;
}

.b-weather-now__data__main_sky_descr {
    font-size: 2em;
}

.b-weather-now__data__main_sky_fdescr {
    padding-left: 7px;
    font-size: 1.3em;
    color: #d3d3d3;
}

.b-weather-now__data_sec {
    padding-top: 15px;
    font-size: 1.6em;
}

.b-weather-forecast {
    display: none;
}

.b-weather-select__item {
    display: inline-block;
    padding-right: 1.1em;
    font-size: 1.2em;
    color: #fff;
}

.b-weather-select__item:last-child {
    padding-right: 0;
}

.b-weather-select__item_active {
    font-size: 1.4em;
    text-decoration: none;
}

.b-map,
#map-canvas {
    height: 100%;
}

.b-disabled {
    opacity: .4;
}

.b-search-header__pagename {
    font-size: 1.7em;
    padding: .8em 0 0 4em;
}

@media screen and (max-width: 760px) {
    .b-search-header__pagename {
        padding: 0 1.5em 0 1.5em;
    }
}

.b-search-header__query {
    font-size: 1em;
    border: 1px dashed #dedede;
}

.b-search-header__query:focus {
    border: 1px solid #96c0e6;
}

.b-wlist {
    padding: 2em 0 2em 3em;
}

.b-wlist__error {
    font-size: 2em;
    color: #98002b;
}

.b-wlist__line {
    border-left: 4px solid #dedede;
    margin-bottom: 20px;
    padding: 5px 0 5px 10px;
}

.b-wlist__line:hover,
.b-wlist__line:focus {
    border-left-color: #f00;
}

.b-wlist__link {
    font-size: 1.34em;
    color: #03003f;
}

.b-wlist__country {
    font-size: 1.23em;
}

.b-wlist__temp {
    font-size: 1.4em;
}

.b-wlist__sky {
    padding-left: 1em;
}

.b-chcontainer {
    text-align: center;
    margin: 0 auto;
    padding-top: 7%;
}

@media screen and (max-width: 760px) {
    .b-chcontainer {
        padding-top: 0;
    }
}

.b-chcontainer__item {
    display: inline-block;
    width: 200px;
}

.b-chcontainer__item_invis {
    display: none;
}

.b-chcontainer__item_vis {
    display: inline-block !important;
}

.b-chcontainer__item__form {
    display: none;
    width: 200px;
    height: 140px;
    vertical-align: middle;
}

.b-chcontainer__item__form__input {
    width: 178px;
    vertical-align: middle;
    border: 1px solid #c4c4c4;
}

@media screen and (max-width: 760px) {
    .b-chcontainer__item__form__input {
        width: 100%;
    }
}

.b-chcontainer__item__form__button {
    border: 0 none;
    width: 20px;
    background: url("") #fff;
}

.b-chcontainer__item__form__input:focus {
    outline: none;
    border-color: #96c0e6;
}

.b-header {
    text-align: left !important;
}

.b-error {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ff8282;
}

.b-error__text {
    font-size: 25em;
    font-weight: 300;
    padding-top: .4em;
}